<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}"></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<style>
			.nearbyDeadlines {
				background-color: red !important;
				font-weight: bold;
			}
			.caution { color: red; }
		</style>
	</head>
	<body class="container">
		<h1 class="display-4 mb-4" th:text="${title}"></h1>
		<p class="fs-5">
			<a class="fw-bold" th:href="@{/}">トップページへ</a>
			<a class="fw-bold" th:href="@{/logout}">ログアウトする</a>
		</p>
		
		<!-- 全ユーザーTODO一覧表示 -->
		<h2 class="fw-bold mt-5" th:text="${msg}"></h2>
		<p class="fw-bold text-decoration-underline caution">
			※赤く表示されているTODOは期日が現時点(<span th:text="${today}"></span>)より7日以内のものです
		</p>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>ユーザー名</th>
					<th>完了状態</th>
					<th>TODO</th>
					<th>作成日</th>
					<th>期日</th>
					<th>削除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, status : ${data}">
					<td th:text="${status.count}" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td th:text="${item.username}" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td th:text="${item.done} ? '完了' : '未完了'" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td th:text="${item.content}" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td th:text="${item.created}" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td th:text="${item.deadline}" th:class="${deadlineFlagList[status.index]} ? 'nearbyDeadlines' : ''"></td>
					<td><a th:href="@{/todo/delete/{id}(id = ${item.id})}">削除する</a></td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>